mainmenu "Alix Kernel Configuration"

menu "General setup"

config KLOG_VERBOSITY
	int "Kernel log verbosity"
	default 2
	range 0 3
	help
	  Controls normal boot-time log volume.

	  0 = quiet, force logs only
	  1 = normal subsystem summaries
	  2 = verbose diagnostics (`klogv`)
	  3 = trace diagnostics (`klogvv`)

endmenu
